<!DOCTYPE html>
<html>
<head>
    <title>{% block title "Welcome on my site!" %}</title>
</head>
<body>

{% block content "" %}

{% block IncludeJS %}
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
{% endblock %}
</body>
</html>